<div class="menu">
    
    <img src="iconos/logo acerimallas.png" >

    
    <div class="row">
        <label style="visibility:hidden">espacio espacio esapcio espacio</label>
        <div class="span6">
            <div class="item">
                 <a href="/dashboard">
                    <img src="iconos/movil.png" width="80" height="100">
                </a>
            </div>
           
            <label style="color:#ffffff;">ADMINISTRADOR MOVIL</label>
        </div>
        
        <label style="visibility:hidden">espacio espacio esapcio</label>
       

        <div class="span6">
            <div class="item">
                <a href="/fabrica">
                    <img src="iconos/fabrica.png" width="100" height="100">
                </a>
            </div>
            
            <label style="color:#ffffff;">ADMINISTRADOR FABRICA</label>
        </div>
    </div>
</div>