<div class="account-container">

    <div class="content">

        <form action="/login" method="POST">

            <img src="iconos/logo acerimallas.png" width="100%" height="250">

            <div class="field">
                <input type="email" id="email" name="email" value="" placeholder="Correo Electrónico" class="form-control" />
            </div> <!-- class="login username-field"  /field -->

            <div class="field">
                <input type="password" id="password" name="password" value="" placeholder="Contraseña" class="form-control" />

                <div class="login-extra1">
                    <a href="/recuperar" style="color:#ffffff;">Olvidaste tu contraseña?</a>
                </div> <!-- /login-extra -->
            </div> <!-- /password -->



            <div class="field">
                <button class="button btn btn-success btn-lg btn-block">INICIAR SESIÓN</button>

                <div class="login-extra2">
                    <a href="/registrop" style="color:#ffffff;">Aun no tienes cuenta? Registrate aqui</a>
                </div> <!-- /login-extra -->
            </div> <!-- .actions -->

        </form>

    </div> <!-- /content -->

</div> <!-- /account-container -->