<div class="account-container">

    <div class="content">

        <form action="/recoverpass" method="POST">

            <img src="iconos/logo acerimallas.png" width="100%" height="250">

            <div class="field">
                <label style="color:#ffffff;">Ingresa tu correo electrónico para recuperar tu contraseña</label>
            </div> <!-- class="login username-field"  /field -->


            <div class="field">
                <input type="email" id="email" name="email" value="" placeholder="Correo Electrónico" class="form-control" />
            </div> <!-- class="login username-field"  /field -->

            <div class="field">
                <button class="button btn btn-init btn-lg btn-block">RECUPERAR</button>
                <div class="login-extra3">
                    <a href="/login" style="color:#ffffff;">Regresar</a>
                </div> <!-- /login-extra -->
            </div> <!-- .actions -->
        </form>
    </div> <!-- /content -->
</div> <!-- /account-container -->